:root{
    --blue: #5267df;
    --red: #fa5959;
    --grey: #F7F7F7;
    --text-color: #242a45;
    --text-color50: rgba(36, 42, 69, 0.5);
    --text-color75: rgba(36, 42, 69, 0.75);
    --bg-color: #fff;
    --body-font-family: "Rubik", "Arial", sans-serif;

}

html{
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}


*:focus{
    outline: 2px dashed var(--blue);
    outline-offset: 2px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-family: var(--body-font-family);
    background-color: var(--bg-color);
    color: var(--text-color);

}

img{
    max-width: 100%;
    height: auto;
}


/* AUTHOFILL STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgb(52, 49, 61);
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1144px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 8px 22px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:active {
    opacity: 0.6;
}


/* BUTTON RED */
.button--red {
    background-color: var(--red);
    color: #fff;
}

.button--red:hover {
    background-color: #fff;
    color: var(--red);
    border: 2px solid var(--red);
}

.button--site-header{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    padding: 11px 33px;
}


/* BUTTON BLUE */
.button--blue {
    background-color: var(--blue);
    color: #fff;
}

.button--blue:hover {
    background-color: #fff;
    color: var(--blue);
    border: 2px solid var(--blue);
}


/* BUTTON GREY */
.button--grey {
    background-color: var(--grey);
    color: var(--text-color);
}

.button--grey:hover {
    background-color: #fff;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.button--block{
    width: 100%;
}

/* LOGO */
.logo{
    display: block;
    text-decoration: none;
}

.logo__img {
    display: block;
    width: 149px;
    height: 25px;
    object-fit: contain;
}

.logo__img:hover {
    opacity: 0.8;
}

.logo__img:active {
    opacity: 0.6;
}


/* SITENAV */
.sitenav{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 1.5px;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--red);
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__sitenav{
    margin-right: 50px;
}

/* SECTION */
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section__info {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    text-align: center;
}

.section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.section__desription {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color50);
}


/* FEATURE TAB PANEL */
.feature-tab-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feature-tab-panel__img {
    margin-right: 30px;
    object-fit: contain;
}

.feature-tab-panel__img--simple-bookmark{
    margin-right: 125px;
}

.feature-tab-panel__img--speedy-search{
    margin-right: 118px;
}

.feature-tab-panel__img--easy-share{
    margin-right: 145px;
}


.feature-tab-panel__info {
    max-width: 445px;
}

.feature-tab-panel__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--text-color);
}

.feature-tab-panel__text {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color50);
}


/* TABS */
.tabs__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabs__item {
    width: 243px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__link {
    display: block;
    padding-top: 23px;
    padding-bottom: 27px;
    border-bottom: 4px solid transparent;
    color: var(--text-color75);
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0px;
}


.tabs__item--active .tabs__link{
    border-color: var(--red);
    color: var(--text-color);
}

.tabs__link:hover{
    color: var(--red);
}

.tabs__link:active {
    opacity: 0.6;
}


/* TABS PANELS */
.tabpanels {
    padding-top: 72px;
    padding-bottom: 165px;
    background-image: url("../img/blue-pill.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 583px) 156px;
}

.tabpanels__item {
    display: none;
}

.tabpanels__item--active{
    display: block;
}



/* SITE HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: auto;
}


/* HERO */
.hero {
    padding-top: 66px;
    padding-bottom: 105px;
    background-image: url("../img/blue-pill.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 701px) 200px;
}

.hero__container {
    display: flex;
    align-items: flex-start;
}

.hero__content {
    position: relative;
    right: 5px;
    flex-shrink: 0;
    width: 100%;
    max-width: 540px;
    padding-top: 70px;
    margin-right: 60.5px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 500;
    color: var(--text-color);
}

.hero__info {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 17px;
    line-height: 28px;
    color: var(--text-color50);
}

.hero__buttons {
    display: flex;
}

.hero__buttons-item:not(:last-child) {
    margin-right: 16px;
}

.hero__img {
    width: 578px;
    height: 385px;
    object-fit: contain;
    flex-shrink: 0;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));

}


/* FEATURES */
.features__section-info {
    margin-bottom: 48px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}
